.main-loader {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
  margin-top: 0;
  font-size: 2.5em;
  @media (prefers-color-scheme: light) {
    color: #303030;
    background-color: rgba(#f5f5f5, .9);
  }
  @media (prefers-color-scheme: dark) {
    color: #f5f5f5;
    background-color: rgba(#303030, .9);
  }
}
