.today-summary {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  &__weekday {
    span {
      display: inline-block;
      margin-left: 10px;
      font-size: 0.9em;
    }
  }
}
