html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100%;
  margin: 0;
  display: grid;
  place-content: center;
  font-family: 'Source Sans Pro', sans-serif;
}

@media screen and (max-width: 422px), screen and (max-height: 870px) {
  .device {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .device .device-frame {
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    box-shadow: none;
  }
  .device .device-content {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0 10px;
    border-radius: 0;
  }
  .device-stripe,
  .device-header,
  .device-sensors,
  .device-btns,
  .device-power {
    display: none;
  }
}

/* Light mode */
@media (prefers-color-scheme: light) {
  body,
  .device .device-content {
    background-color: #f5f5f5;
    color: #303030;
  }
}
/* Dark mode */
@media (prefers-color-scheme: dark) {
  body,
  .device .device-content {
    background-color: #303030;
    color: #f5f5f5;
  }
}

.device {
  margin: auto;
}

.device-content {
  overflow: auto;
}

img {
  width: 50px;
}
