html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100%;
  margin: 0;
  display: flex;
  place-content: center;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Light mode */
@media (prefers-color-scheme: light) {
  body,
  .device .device-content {
    background-color: #f5f5f5;
    color: #303030;
  }
  a {
    color: #3923d6;
  }
}
/* Dark mode */
@media (prefers-color-scheme: dark) {
  body,
  .device .device-content {
    background-color: #303030;
    color: #f5f5f5;
  }
  a {
    color: #06dcfb;
  }
}

@media screen and (max-width: 422px), screen and (max-height: 870px) {
  .device {
    width: 100%;
    max-width: 500px;
    height: 100%;
    overflow: hidden;
  }
  .device .device-frame {
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    box-shadow: none;
  }
  .device .device-content {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
  }
  .device-stripe,
  .device-header,
  .device-sensors,
  .device-btns,
  .device-power {
    display: none;
  }
}

.device {
  margin: auto;
}

.device .device-content {
  border: 0;
  overflow: auto;
}

img {
  width: 50px;
}

.weather-now {
  padding: 0 10px;
  text-align: center;
}

.weather-now h2 {}

.weather-now img {
  display: inline-block;
  width: 150px;
}

.forecast-today {
  padding: 0 10px;
}

.copyright {
  padding: 0 10px 10px;
}
