html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100%;
  margin: 0;
  display: flex;
  place-content: center;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Light mode */
@media (prefers-color-scheme: light) {
  body {
    background: #e0e0e0;
  }
  .device .device-content {
    background-color: #f5f5f5;
    color: #303030;
  }
  a {
    color: #3923d6;
  }
}
/* Dark mode */
@media (prefers-color-scheme: dark) {
  body,
  .device .device-content {
    background-color: #303030;
    color: #f5f5f5;
  }
  .device-iphone-8 .device-frame {
    background: #000;
    box-shadow: inset 0 0 0 .125em #000, inset 0 0 0 .5em #121212;
  }
  .device-iphone-8 .device-btns {
    background: #121212;
  }
  .device-iphone-8 .device-btns::after,
  .device-iphone-8 .device-btns::before {
    background: #121212;
  }
  .device-iphone-8 .device-power {
    background: #121212;
  }
  .device-iphone-8 .device-sensors {
    background: #333;
  }
  .device-iphone-8 .device-sensors::after,
  .device-iphone-8 .device-sensors::before {
    background: #333;
  }
  .device-iphone-8 .device-header {
    border-color: #333;
  }
  a {
    color: #06dcfb;
  }
}

@media screen and (max-width: 422px), screen and (max-height: 870px) {
  .device {
    width: 100%;
    max-width: 30em;
    height: 100%;
    overflow: hidden;
  }
  .device .device-frame {
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    box-shadow: none;
  }
  .device .device-content {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
  }
  .device-stripe,
  .device-header,
  .device-sensors,
  .device-btns,
  .device-power {
    display: none;
  }
}

.device {
  margin: auto;
}

.device .device-content {
  border: 0;
  overflow: auto;
}

img {
  width: 3em;
}

p {
  margin: 0;
}

.weather-now {
  padding: 1.5em .5em 0;
  text-align: center;
}

.weather-now h1 {
  margin: 0 0 .5em;
}

.weather-now p {
  font-size: 1.5em;
}

.weather-now img {
  display: inline-block;
  width: 10em;
}

.forecast-today {
  padding: 0 .5em;
}

.copyright {
  padding: 1em .5em .5em;
}
