* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

@media screen and (max-width: 422px), screen and (max-height: 870px) {
  /* .device {
    height: 100%;
    overflow: hidden;
  }
  .device .device-frame {
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    box-shadow: none;
  }
  .device .device-content {
    width: 100%;
    height: 100%;
    border: none;
  }
  .device-stripe,
  .device-header,
  .device-sensors,
  .device-btns,
  .device-power {
    display: none;
  } */
  .device.device-iphone-8 {
    /* top: -102px; */
  }
}

/* Light mode */
@media (prefers-color-scheme: light) {
  body,
  .device .device-content {
    background-color: #eee;
    color: #303030;
  }
}
/* Dark mode */
@media (prefers-color-scheme: dark) {
  body,
  .device .device-content {
    background-color: #303030;
    color: #eee;
  }
}

.device {
  margin: auto;
}

.device-content {
  overflow: auto;
}

img {
  width: 50px;
}
